@import url("null.css");

@import url("https://fonts.googleapis.com/css?family=Lato:regular,700,700italic,900");

body{
font-family: "Lato";
font-size: 16px;
color: #424551;
line-height:1.6;
font-style: normal;
font-weight: 400;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
}
.block-container{
    max-width: 810px;
    margin:0 auto 60px;
}
.header{
    margin: 81px 0px 40px 0px;
}

.title {
font-style: normal;
font-weight: 900;
font-size: 46px;
line-height: 1.3;
align-items: center;
color: #1E212C;
padding: 26px 0px 26px 0px;
 
}

.block-items {
    margin: 0px 0px 48px 0px;
}
.item-imag {
    margin: 0px 0px 60px 0px;
}
.item-text p {
margin: 0px 0px 24px 0px;
}

.text-1 {
font-weight:700;
font-size: 20px;
line-height: 1.5;
color: #1E212C;
}
.info-text {
    font-weight:700;
font-size: 20px;
line-height: 1.5;
color: #1E212C;
margin: 0px 0px 48px 58px;
}

.list-info,.list{
    padding: 5px 0px 5px 30px;

}
